## The program takes input a short abstract and outputs the following

## 1.prints each word in reverse.

In [1]:
new_string=input()
a=new_string.split(' ')
reverse_string=' '.join(a[::-1]).lower()
b=reverse_string.capitalize()
print(b)

This declaration represents a political commitment among declaration partners to advance a positive vision for the Internet in this era of a united europe
Europe united a of era this in internet the for vision positive a advance to partners declaration among commitment political a represents declaration this

## 2.prints Top 2 occurring words in sorted order. The words that have occurred most of 
## the time

In [2]:
from collections import Counter
split_it = b.split()
Counter = Counter(split_it)
most_occur = Counter.most_common(2)
print(most_occur)

[('a', 3), ('this', 2)]

## ANOTHER APPROACH

In [3]:
# FOR WORD COUNT 
from collections import Counter
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts
s=word_count(reverse_string)
dict(Counter(s).most_common(3))

{'a': 3, 'this': 2, 'declaration': 2}

## ASSIGNMENT-0SQL

### Develop a SQL query that will find out two Products for each product category that are most popular
### in last 30 days. Popularity is based on maximum quantity sold in a particular category.

In [ ]:
CREATE TABLE sales_details(item_id VARCHAR(20),item_price INT,items_sold INT)
EXEC sp_columns sales_details
INSERT INTO sales_details VALUES
('I4001',20000, 5000),
('I4098',1000, 10000),
('I4010',200, 800),
('I4056',30000, 100000),
('I4068',990, 780),
('I4072',10000, 9000),
('I4078',100000, 10),
('I4090',200000, 500)
SELECT * FROM sales_details  
ORDER BY items_sold DESC
SELECT TOP 5  item_id , items_sold  
FROM sales_details ORDER BY  items_sold DESC

## ASSIGNMENT-02SQL

## There is a Customer Table having a single column with list of customer id. There is a Voucher tablehaving a single column with list of voucher ids.

## Develop a query that will assign one voucher to one customer and vice versa. Two customers will not get same voucher. Two Voucher will not be assigned to a single customer.

In [ ]:
 ## CREATE THE TABLE CUSTOMER
 ## INSERT THE VALUES
 CREATE TABLE Customer (Customer_Id varchar(255));
 INSERT INTO Customer VALUES('Customer_Id'),('Abhinash'),('Vipin'),('Mahesh'),('Bijoy'),('Bhabani'),('Ashutosh')
 ## CREATE THE TABLE VOCHER
 ## INSERT THE VALUES
 CREATE TABLE Voucher (Voucher_Id varchar(255) UNIQUE);
 INSERT INTO Voucher VALUES('ABXFH'),('SDFGH'),('ERTYY'),('PPLKM')
 ;with cte 
 as(select *,row_number() over(order by Customer_Id) rr from Customer)
 ,cte2 as(select *,row_number() over(order by Voucher_Id) rr from Voucher)
    
 select Customer_Id Customer_Key,Voucher_Id Gift_Voucher_Key
 from cte c1
 join cte2 c2 on c1.rr=c2.rr ## join the two tables